body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1ebe1;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #f1ebe1;
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;
}

img {
    border-radius: 25px;
}

button {
    padding: 8px 16px;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    background-color: #44624a;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #608b69;
}

.header,
.footer {
    background-color: #8ba888;
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    gap: 50px;
}

.header .inner {
    align-items: center;
}

.logo img {
    filter: invert(1);
    margin: 0px 10px;
}

.navigation-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.hero {
    background-color: #8ba888;
    display: flex;
    justify-content: center;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.content {
    color: rgb(108, 60, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    flex: 1;
}


.content-grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    text-align: center;
}

.card img {
    border: 3px solid #8ba888;
}

.quote {
    background-color: #c0cfb2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quote-body {
    width: 60%;
    font-size: 32px;
    font-style: italic;
    padding-top: 60px;
}

.quote-author {
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding: 60px;
}

.cta {
    display: flex;
    justify-content: space-between;
    background-color: #44624a;
    color: white;
    border-radius: 10px;
    padding: 40px 100px;
    gap: 50px;
}

.cta button {
    border: 2px solid white;
    border-radius: 10px;
}

.footer {
    color: white;
    padding: 20px;
}